<h1 style="margin-left: 5%">Add new post</h1>

<table style='width:100%;'>
  <%= form_for @post, :url => { :action => "create" } do |f| %>
    <tr>
      <td> <label>Title</label> </td>
      <td> <%= f.text_field :title %> <br> </td>
    </tr>
    <tr>
      <td> <label>Author</label> </td>
      <td> <%= f.text_field :author %> <br> </td>
    </tr>
    <tr>
      <td><label>Description</label></td>
      <td>  <%= f.text_field :description %> <br>  </td>

    </tr>
    <tr>
      <td></td>
      <td> <%= f.submit "Create Post" %> </td>
    </tr>

  <% end %>
</table>