<h1 style="margin-left: 5%">Add new Account</h1>

<table style='width:100%;'>
  <%= form_for @account, :url => { :action => "create" } do |f| %>
    <tr>
      <td> <label>Title</label> </td>
      <td> <%= f.text_field :title %> <br> </td>
    </tr>
    <tr>
      <td> <label>Account No.</label> </td>
      <td> <%= f.text_field :acc_no %> <br> </td>
    </tr>
    <tr>
      <td><label>Description</label></td>
      <td>  <%= f.text_field :description %> <br>  </td>

    </tr>
    <tr>
      <td></td>
      <td> <%= f.submit "Create Account" %> </td>
    </tr>

  <% end %>
</table>